<div class="app-list">
  <div class="app-name" id="active-project-id"></div>

  <ul class="other-app-list toggle-content" id="other-project-list"></ul>
</div>

<div class="clear-both"></div>

<div class="all-route-list">
  <ul id="route-list-id"></ul>
</div>

<script>
  const dataName = "data-input-name";
  const dataId = "data-input-id";
  const dataActive = "data-input-active";
  const toggleAppListDivId = "toggle-app-list"; 
  const appTitleDivId = "app-title-id";
  const otherProjectDivId = "other-project-list";
  const otherProjectSaveDivId = "other-project-name";
  const activeProjectDivId = "active-project-id";
  const routeListDivId="route-list-id";
  const projectIdAttr = "data-project-id";
  const routeIdAttr = "data-route-id";
  const activeProjectInputDiv = "active-project-input";
  const otherProjectInputDiv = "other-project-input";

  const dataAttributeObj = {
      [`${dataName}`]: "name",
      [`${dataId}`]: "id",
      [`${dataActive}`]: "isActive"
    };

  ( async () => {
    await  initFunction() ;
  })();

</script>
