.help-html {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100%;
}

.header-contents-help {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.helper-menu-li {
  margin-right: 0 !important;
  margin-left: 20px;
}

.proj-title {
  color: #f0f0f0;
  float: left;
  margin-left: 15%;
  margin-top: -15px;
  font-size: 20px;
  font-weight: 500;
}

.helper-menu{
  margin-right: 15% !important;
}

.help-content {
  margin:0 15%;
  /* display: flex; */
  margin-top: 20px;
}

.paragraph-content {
  margin: 10px 0;
  /* display: flex; */
  /* flex-direction: row; */
  width: 100%;
}

.paragraph-text {
  text-align: left;
  margin-right: 5px;
  line-height: 1.7;
  /* float: left; */
  display: inline;
}

.paragraph-with-70 {
  /* width: 70%; */
}

.paragraph-image {
  border: 2px solid #999;
  /* float: right; */
  display: inline-block;
}

.paragraph-image-value {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
  border: 2px solid #f9f9f9;
}

.p-image-height-200 {
  height: 200px;
}

.p-image-width-200 {
  width: 200px;
}

.help-title {
  color: #444;
  text-align: left;
}

.highlight-text{
  background-color: #e8e8e8;
  border-radius: 3px;
  padding: 2px 5px;
  color: #222;
}

a.help-text-url {
  color: #bd0000;
  text-decoration: none;
}

a.help-text-url:hover {
  opacity: 0.7;
}

img.help-text-icon {
  width: 12px;
  margin-bottom: -3px;
    margin-right: 2px;
}

img.help-image-full-width {
  padding: 10px;
  margin: 5px 10px;
  border: 3px solid #999;
}

.help-text {
  text-align: left;
  line-height: 1.7;
  margin-bottom: 5px;
  margin-top: 18px;
}

.more-details {
  margin-left: 10px;
}