<html>
  <head>
    <title>fake server local </title>

    <link href="/vendor/prism/prism.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="/css/context.css" rel="stylesheet" type="text/css">

    <script src="/vendor/ace/ace.js" type="text/javascript"></script>
    <script src="/vendor/prism/prism.js" type="text/javascript"></script>
    <script src="/vendor/ace/mode-json.js" type="text/javascript"></script>
    <script src="/vendor/json-formatter/json-formatter.js" type="text/javascript"></script>
    <script src="/vendor/axios/axios.min.js" type="text/javascript"> </script>
    
    <script src="/js/main.js" type="text/javascript"></script>
    <script src="/js/navbar.js" type="text/javascript"></script>
    <script src="/js/context.js" type="text/javascript"></script>

    <script src="/js/project.js" type="text/javascript"></script>
  </head>

  <body>

    <input type="hidden" id="fake-url" value=<%= projectUrl %> />

        <header class="header-contents">
          <div class="context-header">
            <h2 id="prj-title">
              Fake Server Local
              <!-- <span id="prj-title-loader" class="loader-spinner"></span> -->
            </h2>

            <div class="toastr-msg">
              <span id="toastr-title"></span>
            </div>

            <div class="header-right-controls">
                <div id="add-header-btn" class="header-plus-btn" aria-label="Add" title="Add">
                  <img src="/assets/icons/plus.svg" class="nav-icon-white btn-icon">  
                  <span class="add-project-label">Add Project</span>
                </div>
                <div id="header-add-controls">
                    <input id="project-secret" type="text" placeholder="project secret">
                    <input id="selected-project-title" type="text" placeholder="project name">
                    <button id="header-close-btn" type="button">&#x2715;</button>
                </div>
            </div>
        </div>
    </header>
    

    <main class="wrapper">

      <nav class="nav-part">
        <%- include('navbar.ejs') %>
      </nav>

      <section class="content-part">
        <%- include('context.ejs') %>
      </section>


    </main>

  </body>

</html>
