<div class="app-list">
  <div class="app-name" id="active-project-id"></div>

  <ul class="other-app-list toggle-content" id="other-project-list"></ul>
</div>

<div class="clear-both"></div>

<div class="all-route-list">
  <ul id="route-list-id"></ul>
</div>
