<div class="app-list">
  <div class="app-name" id="active-project-id"></div>

  <!-- <ul class="other-app-list toggle-content" id="other-project-list"></ul> -->
   <div class="dropdown">
    <!-- <button class="dropdown-toggle" id="dropdownBtn">Other Projects ▼</button> -->
    <ul class="other-app-list dropdown-menu" id="other-project-list"></ul>
  </div>
</div>

<div class="clear-both"></div>

<div class="all-route-list">
  <ul id="route-list-id"></ul>
</div>
